crispy-bootstrap4
Django
django-after-response
django-countries
django-crispy-forms
django-filter
django-hitcount
django-htmlmin
django-import-export
django-recaptcha
django-storages
django-summernote
docutils
html5lib
pillow
Pygments
python-decouple
whitenoise
