{% load i18n static %}

<!-- Start Navbar Area -->
<div class="top-navbar">
    <nav class="navbar navbar-expand-lg bg-transparent" id="navbar">
        <div class="container-fluid side-padding position-relative">
            <a class="navbar-brand logo-brand p-0" href="{% url 'core:home' %}">
                <img class="main-logo" src="{% static 'assets/images/main-logo.png' %}" alt="image">
            </a>
            <a class="navbar-toggler" data-bs-toggle="offcanvas" href="#offcanvasRight" role="button"
                aria-controls="offcanvasRight">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link {% if home_page_is_active %}active{% endif %}" href="{% url 'core:home' %}">
                            {% trans "Accueil" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link {% if services_page_is_active %}active{% endif %}" href="{% url 'services:services-list' %}">
                            {% trans "Prestations" %}
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link {% if about_us_page_is_active %}active{% endif %}" href="{% url 'core:about-us' %}">
                            {% trans "À Propos" %}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="others-options">
                <ul class="d-flex align-items-center shrink-0 ps-0 pe-0 mb-0 list-unstyled">
                    <li>
                        <a href="{% url 'contacts:contact' %}" class="default-btn style-1 {% if contact_page_is_active %}active{% endif %}">
                            {% trans "Contact" %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- End Navbar Area -->


<!-- Start Mobile Menu -->
<div class="side-modal mobile-navbar offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="mobile-menu">
            <li class="mobile-menu-list dropdown {% if home_page_is_active %}active{% endif %}">
                <a class="{% if home_page_is_active %}active{% endif %}" href="{% url 'core:home' %}">
                    {% trans "Accueil" %}
                </a>
            </li>

            <li class="mobile-menu-list dropdown {% if services_page_is_active %}active{% endif %}">
                <a class="{% if services_page_is_active %}active{% endif %}" href="{% url 'services:services-list' %}">
                    {% trans "Prestations" %}
                </a>
            </li>


            <li class="mobile-menu-list dropdown {% if about_us_page_is_active %}active{% endif %}">
                <a class="nav-link icon" href="{% url 'core:about-us' %}">
                    {% trans "À Propos" %}
                </a>
            </li>
        </ul>

        <div class="others-options">
            <ul class="d-flex align-items-center shrink-0 ps-0 pe-0 mb-0 list-unstyled">
                <li>
                    <a href="{% url 'contacts:contact' %}" class="default-btn d-flex align-items-center gap-2">
                        {% trans "Contact" %}
                        <i class="ti ti-arrow-narrow-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Mobile Menu -->
