{% load static %}

    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollCue.min.js' %}"></script>
    <script src="{% static 'assets/js/smoothscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/fslightbox.min.js' %}"></script>
    <script src="{% static 'assets/js/scrollCue.min.js' %}"></script>
    <script src="{% static 'assets/js/notyf.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
